<html>
    <body> 
        <h1>Add cake</h1>
        <form method="POST" action=<%= "/addsuccess" %>>
            <label for="cakename">Cake name:</label>
            <input type="text" id="cakename" name="cakename"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>