<html>
    <body> 
        <% cakeid = params["id"].to_i %>
        <% result = DB[:cakelist].select(:name).where(id: cakeid).get(:name) %>
        <h1><%= result %></h1>
        <form method="POST" action=<%= "/editsuccess/#{cakeid}" %>>
            <label for="cakename">Edit cake name:</label>
            <input type="text" id="cakename" name="cakename"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>