<html>
    <body> 
        <% cake = Cake.find_by_id(params[:id])%>
        <h1><%= cake.name %></h1>
        <form action=<%= "/update/#{params[:id]}" %>>
            <button type="submit">Update</button>
        </form>
        <form method="POST" action=<%= "/destroy/#{params[:id]}" %>>
            <button type="submit">Delete</button>
        </form>
    </body>
</html>