<html>
    <body> 
        <% cakeid = params["id"].to_i %>
        <% result = DB[:cakelist].select(:name).where(id: cakeid).get(:name) %>
        <h1><%= result %></h1>
        <form action=<%= "/update/#{cakeid}" %>>
            <button type="submit">Update</button>
        </form>
        <form method="POST" action=<%= "/delete/#{cakeid}" %>>
            <button type="submit">Delete</button>
        </form>
    </body>
</html>