<html>
    <body> 
        <% cake = Cake.find_by_id(params[:id])%>
        <h1><%= cake.name %></h1>
        <form method="POST" action=<%= "/update/#{params[:id]}" %>>
            <label for="name">Update cake name:</label>
            <input type="text" id="name" name="name"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>